PORT=3000
HOST="0.0.0.0"
NODE_ENV="development"
TRUST_PROXY="false"
DATABASE_URL="postgresql://docker:docker@localhost:5432/inorbit"
FRONTEND_URL="http://localhost:3001"
JWT_SECRET="inorbit"
COOKIE_SECRET="inorbit"
